*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

body {
  color: var(--color-paragraph);
  font-family: Roboto;
}

.web {
  color: #2196F3;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: #212121;
}

.header {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 50px;
  display: none;
}
.header-item {
  align-items: center;
  gap: 10px;
}
.header-list a {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-item:hover a {
  color: #2196F3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:hover .envelope {
  fill: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:hover .svg-phone {
  fill: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  width: 100%;
  height: 1px;
  color: rgb(237, 237, 237);
}

.nav-list {
  display: flex;
  gap: 50px;
  display: none;
}

.nav-list a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-item:hover a {
  color: #2196F3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  display: block;
  border-radius: 2px;
  top: 45px;
  transform: scaleX(1);
  transition-property: backround-color, width;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.3s;
}

.active:hover::after {
  transform: scaleX(0);
  width: 10%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .nav-list {
    display: flex;
    gap: 56px;
    flex-direction: row;
  }
  .btn-open-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
  }
  .nav-list {
    display: flex;
    gap: 53px;
    flex-direction: row;
  }
  .btn-open-menu {
    display: none;
  }
}
.backdrop-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  padding: 0 15px;
}

.backdrop-header.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.btn-close-modal {
  width: 30px;
  height: 30px;
  border-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.icon-cancel {
  fill: #212121;
}

.icon-cancel:hover {
  fill: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-menu {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 302px;
}

.nav-list-menu a {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-item:hover a {
  color: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-menu {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 34px;
}

.header-item-menu a {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-item-menu a-item-menu:hover a {
  color: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item-menu a-item-menu:hover .envelope {
  fill: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item-menu a-item-menu:hover .svg-phone {
  fill: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.link-list-item a {
  color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
}

.hero {
  background-color: #2f303a;
  background-image: url(./img/Img_\(3\).png);
  padding: 118px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  color: #fff;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}
.hero-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  padding: 0 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.btn-close {
  width: 30px;
  height: 30px;
  border-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.icon-cancel {
  fill: #212121;
}

.icon-cancel:hover {
  fill: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.input-box {
  position: relative;
}

.input-box:focus-within {
  fill: #2196f3;
}

.input-hero {
  padding-left: 32px;
  width: 100%;
  height: 40px;
}

.input-svg {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.form-textarea {
  display: flex;
  flex-direction: column;
}

.textarea-hero {
  resize: none;
  padding: 10px;
}

.checkbox-box {
  display: flex;
  gap: 7px;
  margin-bottom: 31px;
}

.text-modal {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.36;
}

.link-modal {
  color: #2196F3;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

.submit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 94px;
}

.submit-btn {
  color: #fff;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: #2f303a;
    background-image: url(./img/Img_\(3\).png);
    padding: 118px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    padding: 40px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: #2f303a;
    background-image: url(../img/Img_\(3\).png);
    padding: 200px 30px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 94px;
  }
  .hero .hero-title {
    color: #fff;
    width: 696px;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .hero .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 15px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding-left: 41px;
    padding-right: 39px;
  }
}

.feature {
  display: flex;
  margin-bottom: 118px;
}
.feature-title {
  color: var(--color-paragraph);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature-antena {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 100px;
  margin: 0 auto;
}
.feature-div {
  padding: 25px 0;
  border-radius: 4px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-text {
  height: 72px;
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .feature .feature-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }
  .feature-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature .active::after {
    top: 51px;
  }
}
@media screen and (min-width: 1200px) {
  .feature .feature-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .feature-item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .feature .feature-title {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .feature .feature-text {
    height: 72px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
    text-align: inherit;
  }
}

.photo {
  margin-bottom: 94px;
  display: none;
}
.photo-photo {
  display: block;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.photo-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.photo-item {
  position: relative;
}
.photo-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .photo {
    display: block;
  }
  .photo .title-photo {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  .photo .photo-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
  .photo .photo-item {
    position: relative;
  }
  .photo .photo-text {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.ourteam {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
}
.ourteam-main-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 50px;
}
.ourteam-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.ourteam-item {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  padding-bottom: 30px;
}
.ourteam .ourteam-photo {
  margin-bottom: 30px;
}
.ourteam .ourteam-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
}
.ourteam .ourteam-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
  margin-bottom: 10px;
}
.ourteam .ourteam-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-align: center;
  margin-bottom: 28px;
}
.ourteam .ourteam-svg-list {
  display: flex;
  justify-content: space-around;
}
.ourteam .ourteam-svg-list-svg-item {
  padding: 12px;
  border-radius: 50%;
}
.ourteam .ourteam-svg-item:hover {
  background-color: #2196F3;
  fill: #ffffff;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam .icon {
  fill: #afb1b8;
  display: flex;
  align-items: center;
}
.ourteam .ourteam-svg-item:hover .icon {
  fill: #ffffff;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .ourteam .ourteam-photo {
    margin-bottom: 30px;
    width: 350px;
  }
  .ourteam .ourteam-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }
  .ourteam-item {
    flex-basis: calc((100% - 30px) / 2);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    padding-bottom: 30px;
  }
  .ourteam .ourteam-svg-list {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .ourteam .conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .ourteam .ourteam {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
  }
  .ourteam .ourteam-main-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  .ourteam .ourteam-list {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
  .ourteam .ourteam-item {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    padding-bottom: 30px;
    flex-basis: calc((100% - 30px) / 5);
  }
  .ourteam .ourteam-photo {
    width: 270px;
    margin-bottom: 30px;
  }
}

.popular-svg {
  fill: #afb1b8;
}

.popular {
  margin-bottom: 54px;
}
.popular-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 50px;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.popular-item {
  width: 170px;
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-item:hover {
  border-color: #2196F3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.popular-item:hover .popular-svg {
  fill: #2196f3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .popular .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .popular .popular-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  .popular .popular-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .popular .popular-item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popular .popular-item:hover {
    border-color: #2196F3;
    transition-duration: 250ms;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.app {
  margin-top: 94px;
}
.app-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.app-item > a {
  color: #212121;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
}
.app-item a {
  flex-shrink: 0;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  padding: 6px 22px;
}
.app .app-item:hover a {
  border-radius: 4px;
  background: #2196F3;
  border: 1px solid #f5f4fa;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.app .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-bottom: 94px;
}
.app .portfolio-item {
  width: 370px;
  border: 1px solid #eee;
  background: #fff;
}
.app .portfolio-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.app .animation-box {
  overflow: hidden;
  height: 294px;
  margin: 0 auto;
  position: relative;
}
.app .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
.app .animation-box:hover .overlay {
  transform: translatey(0);
}
.app .overlay .animation-text {
  color: #fff;
  padding: 32px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.54px;
}
.app .portfolio-img {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}
.app .portfolio-title {
  font-size: 18px;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
  margin-top: 20px;
  margin-left: 24px;
}
.app .portfolio-text {
  color: #757575;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .app .app-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
  .app .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .app .portfolio-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .app .portfolio-img {
    width: 370px;
  }
  .app .app-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
  .app-item > a {
    color: #212121;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
  }
  .app-item a {
    flex-shrink: 0;
    background: #f5f4fa;
    border-radius: 4px;
    border: 1px solid #f5f4fa;
    padding: 6px 22px;
  }
  .app .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 94px;
  }
  .app .portfolio-item {
    flex-basis: calc((100% - 90px) / 3);
    width: 370px;
    border: 1px solid #eee;
    background: #fff;
  }
  .app .animation-box {
    overflow: hidden;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    position: relative;
  }
  .app .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
  }
  .app .overlay .animation-text {
    color: #fff;
    width: 322px;
    padding: 63px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
  }
}

.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: Raleway;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  color: #fff;
}
.footer-web {
  color: #2196F3;
}
.footer-icon {
  fill: #ffffff;
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.footer-address {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-item a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-svg-list {
  display: flex;
  gap: 10px;
}
.footer-svg-item {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
}
.footer-svg-item:hover {
  background-color: #2196F3;
  transition-duration: 250ms;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join {
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 50px;
  color: #fff;
  padding: 15px;
}
.footer-button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  display: block;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
}

.link {
  display: flex;
  justify-content: center;
}

.div-box {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-link {
  margin-bottom: 20px;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.join-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.box-join {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.send-icon {
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer .conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer .footer {
    height: 252px;
    background: #2f303a;
  }
  .footer .main-box {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: space-around;
  }
  .footer .div-box {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer .footer .logo {
    color: #fff;
  }
  .footer .footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .footer .footer-address {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
  .footer .footer-item a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
  .footer .join-text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 72px;
    margin-bottom: 32px;
  }
  .footer .footer-svg-list {
    display: flex;
    gap: 10px;
  }
  .footer .footer-svg-list-svg-item {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
  }
  .footer .footer-icon {
    fill: #fff;
    display: flex;
    align-items: center;
  }
  .footer .box-join {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-join {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 72px;
    margin-bottom: 20px;
  }
  .footer .form-box {
    display: flex;
    gap: 12px;
  }
  .footer .footer-form {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: row;
  }
  .footer .footer-form-input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 358px;
    height: 50px;
    color: #fff;
    padding: 15px;
  }
  .footer .footer-input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 50px;
    width: 358px;
    color: #fff;
    padding: 15px;
  }
  .footer-button {
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 28px;
  }
}/*# sourceMappingURL=main.css.map */